@import "tailwindcss";

/* =========================
   THEME VARIABLES
   ========================= */

:root {
  --background: #ffffff;
  --foreground: #171717;


  --text-color : #171717;
  --text-color-2: #000000;


  --glass-bg: rgba(0, 0, 0, 0.55);
  --glass-border: rgba(255, 255, 255, 0.12);

  --glass-bg-cards: rgba(255, 255, 255, 0.55);
  --glass-border-cards: rgba(0, 0, 0, 0.12);

  --nav-text: rgb(244 244 245);
}

/* Dark mode — controlled ONLY by next-themes */
html.dark {
  --background: #0a0a0a;
  --foreground: #ededed;


  --glass-bg: rgba(0, 0, 0, 0.55);
  --glass-border: rgba(255, 255, 255, 0.12);
  
  --glass-bg-cards: rgba(0, 0, 0, 0.55);
  --glass-border-cards: rgba(255, 255, 255, 0.12);

  --nav-text: rgb(244 244 245);

  --text-color : #ededed;
  --text-color-2 : #ffffff;
}

/* =========================
   BASE STYLES
   ========================= */

body {
  background-color: var(--background);
  color: var(--foreground);
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* =========================
   OPTIONAL UTILITIES
   ========================= */

@keyframes shine {
  from { background-position: 0% 50%; }
  to { background-position: 200% 50%; }
}
